@model List<Models.EF.Article>
@{
    ViewBag.Title = "CategogyChannel";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var name = ViewBag.NameChannel;
}

@section header{
    @name
}

@foreach (var item in Model)
{
    var url = "/Article/" + item.IDArticle;
    <a href="@url"><img src="@item.Image" alt="" /></a>
    <h4><a href="@url">@item.Title</a></h4>
    <h5>@item.Summary</h5>
}

