@model NewsApp.Areas.Admin.Models.RegisterViewModel
@{
    ViewBag.Title = "Create";
    var listRoles = (List<SelectListItem>)ViewBag.ListRoles;
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $('#btnSelectImage').on('click', function (e) {
            e.preventDefault();
            var finder = new CKFinder();
            finder.selectActionFunction = function (url) {
                $('#txtImage').val(url);
            };
            finder.popup();
        })
    </script>
}

<div class="container-fluid">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Thêm quản trị mới
        </h1>
    </section>
    <ol class="breadcrumb">
        <li><i class="fa fa-laptop"></i> @Html.ActionLink("Quản trị", "Index", "Account")</li>
        <li>
            <span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Thêm quản trị</font></font></span>
        </li>
    </ol>
    <section class="content">
        <div class="box">
            @using (Html.BeginForm("Create", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <h4>Nhập thông tin quản trị</h4>
                <hr />
                @Html.ValidationSummary("", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(model => model.Email, new { @class = "col-md-1 control-label" })
                    <div class="col-md-4">
                        @Html.TextBoxFor(model => model.Email, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Password, new { @class = "col-md-1 control-label" })
                    <div class="col-md-4">
                        @Html.PasswordFor(model => model.Password, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.ConfirmPassword, new { @class = "col-md-1 control-label" })
                    <div class="col-md-4">
                        @Html.PasswordFor(model => model.ConfirmPassword, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Image, new { @class = "control-label col-md-1" })
                    <div class="col-md-4">
                        @Html.TextBoxFor(model => model.Image, new { @class = "form-control", id = "txtImage" })
                    </div>
                    <a id="btnSelectImage" href="#">Chọn ảnh</a>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.UserRole, new { @class = "control-label col-md-1" })
                    <div class="col-md-4">
                        <table>
                            @for (int i = 0; i < Model.UserRole.Count; i++)
                            {
                                <tr>
                                    <td>@Html.CheckBoxFor(model => model.UserRole[i].Selected)</td> 
                                    <td>
                                        @Html.DisplayFor(model => model.UserRole[i].Text)
                                        @Html.HiddenFor(model => model.UserRole[i].Text)
                                        @Html.HiddenFor(model => model.UserRole[i].Value)
                                    </td>
                                </tr>
                            }
                        </table>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-1 col-md-10">
                        <input type="submit" class="btn btn-primary" value="Create" />
                    </div>
                </div>
            }
        </div>
    </section>
</div>
