@model PagedList.IPagedList<Models.EF.AspNetUser>
@using PagedList.Mvc

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

    <div class="container-fluid">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Danh sách quản trị viên
            </h1>
        </section>
        <section class="content">
            <div class="box">
                <div class="box-body">
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Email</th>
                                <th>Ảnh</th>
                                <th>Số điện thoại</th>
                                <th>Tên người dùng</th>
                                <th>Quyền đăng nhập</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                            <tr id="row_@item.Id">
                                <th>@Html.ActionLink(item.Id,"Edit/" + item.Id,"Account")</th>
                                <th>@item.Email</th>
                                <th><img src="@item.Image" alt="" width="150" height="150" /></th>
                                <th>@item.PhoneNumber</th>
                                <th>@item.UserName</th>
                                <th>@item.UserRole</th>
                                <th>
                                    <span class="fa fa-trash-o">
                                        @Ajax.ActionLink("Xóa", "Delete", new { @id = item.Id }, new AjaxOptions
                                           {
                                               Confirm = "Bạn có muốn xóa danh mục này không?",
                                               OnComplete = "$('#row_" + item.Id + "').remove()",
                                           })
                                    </span>
                                </th>
                            </tr>
                            }
                        </tbody>
                    </table>
                    @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
                </div>
            </div>           
        </section>
    </div>

