@model PagedList.IPagedList<Models.EF.Article>
@using PagedList.Mvc

@{
    ViewBag.Title = "ListArticleByChannel";
    Layout = "~/Areas/Frontend/Views/Shared/_Layout.cshtml";
    var nameChannel = (string)ViewBag.NameChannel;
}

@section header{
    @nameChannel
}

<div class="col-md-9 blog-content">
    <div class="blog-list">
        <div class="bc-inner">
            <div class="row bl-rowA">
                @foreach (var itemA in Model)
                {
                    <div class="col-md-4 hight-same bl-post-item">
                        <div class="bc-item" style="height: 559px;">
                            <h3 class="bci-header" style="height: 75px;">
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">
                                        @Html.ActionLink(itemA.Title, "ViewArticle/" + itemA.IDArticle, "Article")
                                    </font>
                                </font>
                            </h3>
                            <div class="thumbnail">
                                    <img class="new-icon" src=@itemA.Image>
                            </div>
                            <div class="row">
                                <p class="post-meta date col-xs-6"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">@(itemA.Date.HasValue ? @itemA.Date.Value.ToString("dd/MM/yyyy") : "")</font></font></p>
                                <div class="post-like col-xs-6 text-right" data-post-id="844">
                                    <span class="number-size" style="text-decoration:none;" data-count-view=""><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">125</font></font></span>
                                    <i class="fa fa-eye eye-view" aria-hidden="true"></i>

                                    <a href="javascript:void(0)" class="btn-link number-size count-like" data-count-like=""><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">7</font></font></a>
                                    <button class="btn-primary-outline" type="button" data-post-btn="like" data-item-id="844">
                                        <i class="fa fa-thumbs-up thumb-size thumb-dislike" aria-hidden="true" data-post-icon="like" title="Like"></i>
                                    </button>
                                    <span class="number-size" data-count-cmt=""></span>
                                    <i class="fa fa-comments comment-icon thumb-size" aria-hidden="true"></i>
                                </div>
                            </div>
                            <div class="post-desc cke" style="height: 150px;">
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">
                                        @itemA.Summary
                                    </font>
                                </font>
                            </div>
                            <div class="row">
                                <div class="col-xs-8 post-author">
                                    @itemA.Author
                                </div>
                                <div class="col-xs-4 post-read-more">
                                    <font style="vertical-align: inherit;"><font style="vertical-align: inherit;">@Html.ActionLink("Xem chi tiết", "ViewArticle/" + itemA.IDArticle, "Article")</font></font>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
            @Html.PagedListPager(Model, page => Url.Action(@nameChannel + "-" + @Model[0].IDChannel, new { page }))
        </div>
    </div>
</div>



