<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - NEWS Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("NEWS", "Index", "Home", new { area = "Frontend" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>
                        <a href="#">Channel</a>
                        <div class="sub-menu">
                            <ul>
                                <li>@Html.ActionLink("List channel", "Index", "Channel")</li>
                                <li>@Html.ActionLink("Add new channel", "Create", "Channel")</li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <a href="#">Article</a>
                        <div class="sub-menu">
                            <ul>
                                <li>@Html.ActionLink("List article", "Index", "Article")</li>
                                <li>@Html.ActionLink("Add new article", "Create", "Article")</li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <a href="">Account</a>
                        <div class="sub-menu">
                            <ul>
                                <li>@Html.ActionLink("List user", "Index", "Account")</li>
                                <li>@Html.ActionLink("Add new user", "Create", "Account")</li>
                            </ul>
                        </div>
                    </li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="content-wrapper">
        @RenderBody()
    </div>
    <footer class="main-footer">
        <div class="container-fluid">
            <div class="pull-right hidden-xs">
                <a href="#" style="color: #444; ">
                    <b><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Version</font></font></b><font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">
                            2.0.53
                        </font>
                    </font>
                </a>
            </div>
            <strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Copyright © 2019 </font></font><a href="/Frontend/Home/Index/"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">NEWS</font></font></a><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> . </font></font></strong><font style="vertical-align: inherit;">
                <font style="vertical-align: inherit;">
                    All rights reserved.
                </font>
            </font>
        </div><!-- /.container -->
    </footer>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/Admin/bundles/unobtrusive-ajax")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/Admin/bundles/ckfinder")
    @Scripts.Render("~/Admin/bundles/ckeditor")
    @RenderSection("scripts", required: false)
    @RenderSection("jsFooter", required: false);
</body>
</html>

