@model List<List<Models.EF.Article>>

    <div class="article-menu">
        @foreach (var item in Model)
        {
            var url = "/Channel/" + @item[0].IDChannel;
            <div class="content_top">
                <div class="heading">
                    <h3>Name Channel</h3>
                </div>
                <div class="see">
                    <a href="@url">Xem tat ca</a>
                </div>
            </div>
            <div class="section-group">
                @foreach (var itemA in item)
                {
                    var urlA = "/Article/" + itemA.IDArticle;
                    <a href="@urlA"><img src="@itemA.Image" alt="" /></a>
                    <h4><a href="@urlA">@itemA.Title</a></h4>
                    <h5>@itemA.Summary</h5>
                }
            </div>
         }
    </div>
