@model Models.EF.Article

@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section jsFooter{
    <script>
        $('#btnSelectImage').on('click', function (e) {
            e.preventDefault();
            var finder = new CKFinder();
            finder.selectActionFunction = function (url) {
                $('#txtImage').val(url);
            };
            finder.popup();
        })

        var editor = CKEDITOR.replace('txtContent', {
            customConfig: '/Areas/Admin/Content/plugins/ckeditor/config.js',
        });
    </script>
}

<div class="container-fluid">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Sửa tin tức
        </h1>
    </section>
    <ol class="breadcrumb">
        <li><i class="fa fa-edit"></i> @Html.ActionLink("Tin tức", "Index", "Article")</li>
        <li>
            <span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Sửa tin tức</font></font></span>
        </li>
    </ol>
    <section class="content">
        <div class="box">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">
                    <h4>Nhập thông tin bài báo</h4>
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.IDArticle)

                    <div class="form-group">
                        @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-1" })
                        <div class="col-md-4">
                            @Html.TextBoxFor(model => model.Title, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Image, htmlAttributes: new { @class = "control-label col-md-1" })
                        <div class="col-md-4">
                            @Html.TextBoxFor(model => model.Image, new { @class = "form-control", id = "txtImage" })
                            @Html.ValidationMessageFor(model => model.Image, "", new { @class = "text-danger" })
                        </div>
                        <a id="btnSelectImage" href="#">Chọn ảnh</a>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Summary, htmlAttributes: new { @class = "control-label col-md-1" })
                        <div class="col-md-4">
                            @Html.TextAreaFor(model => model.Summary, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Summary, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Content, htmlAttributes: new { @class = "control-label col-md-1" })
                        <div class="col-md-4">
                            @Html.TextAreaFor(model => model.Content, new { @class = "form-control", id = "txtContent" })
                            @Html.ValidationMessageFor(model => model.Content, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Author, htmlAttributes: new { @class = "control-label col-md-1" })
                        <div class="col-md-4">
                            @Html.TextBoxFor(model => model.Author, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Author, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-1 col-md-10">
                            <input type="submit" value="Save" class="btn btn-default" />
                        </div>
                    </div>
                </div>
            }
        </div>
    </section>
</div>

