@model PagedList.IPagedList<Models.EF.Article>
@using PagedList.Mvc

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Article
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Article</li>
        </ol>
    </section>
    <section class="content">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Title</th>
                            <th>ID Channel</th>
                            <th>Image</th>
                            <th>Summary</th>
                            <th>Content</th>
                            <th>Author</th>
                            <th>Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr id="row_@item.IDArticle">
                                <th>@item.IDArticle</th>
                                <th><a href="/Admin/Article/Edit/@item.IDArticle">@item.Title</a></th>
                                <th>@item.IDChannel</th>
                                <th><img src=@item.Image alt="" width="150" height="150" /></th>
                                <th>@item.Summary</th>
                                <th>@item.Content</th>
                                <th>@item.Author</th>
                                <th>@(item.Date.HasValue ? @item.Date.Value.ToString("dd/MM/yyyy") : "")</th>
                                <th>
                                    @Ajax.ActionLink("Delete", "Delete", new { @id = item.IDArticle }, new AjaxOptions
                                     {
                                         Confirm = "Bạn có muốn xóa bái báo này?",
                                         OnComplete = "$('#row_" + item.IDArticle + "').remove()",
                                     })
                                </th>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        @Html.PagedListPager(Model,page=>Url.Action("Index",new { page }))
    </section>
</div>

