@model PagedList.IPagedList<Models.EF.Article>
@using PagedList.Mvc

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Danh sách tin tức
        </h1>
    </section>
    <section class="content">
        <div class="box">
            <div class="box-body">
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Tên báo</th>
                            <th>ID danh mục báo</th>
                            <th>Ảnh</th>
                            <th>Tóm tắt nội dung</th>
                            <th>Nội dung</th>
                            <th>Tác giả</th>
                            <th>Ngày đăng</th>
                            <th width="5%"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr id="row_@item.IDArticle">
                                <th>@item.IDArticle</th>
                                <th><a href="/Admin/Article/Edit/@item.IDArticle">@item.Title</a></th>
                                <th>@item.IDChannel</th>
                                <th><img src=@item.Image alt="" width="200" height="150" /></th>
                                <th>@item.Summary</th>
                                <th>@item.Content</th>
                                <th>@item.Author</th>
                                <th>@(item.Date.HasValue ? @item.Date.Value.ToString("dd/MM/yyyy") : "")</th>
                                <th>
                                    <span class="fa fa-trash-o">
                                        @Ajax.ActionLink("Delete", "Delete", new { @id = item.IDArticle }, new AjaxOptions
                                         {
                                             Confirm = "Bạn có muốn xóa bái báo này?",
                                             OnComplete = "$('#row_" + item.IDArticle + "').remove()",
                                         })
                                    </span>
                                </th>
                            </tr>
                        }
                    </tbody>
                </table>
                @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
            </div>
        </div>       
    </section>
</div>

