@model PagedList.PagedList<Models.EF.Channel>
@using PagedList.Mvc

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Danh mục tin
        </h1>
    </section>
    <section class="content">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Image</th>
                            <th>Summary</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr id="row_@item.IDChannel">
                                <th>@item.IDChannel</th>
                                <th><a href="/Admin/Channel/Edit/@item.IDChannel">@item.Name</a></th>
                                <th><img src=@item.Image alt="" width="150" height="150" /></th>
                                <th>@item.Summary</th>
                                <th>
                                    @Ajax.ActionLink("Delete", "Delete", new { @id = item.IDChannel }, new AjaxOptions
                                       {
                                           Confirm = "Bạn có muốn xóa danh mục này không?",
                                           OnComplete = "$('#row_" + item.IDChannel + "').remove()",
                                       })
                                </th>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
    </section>
</div>

