@model PagedList.PagedList<Models.EF.Channel>
@using PagedList.Mvc

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Danh mục tin
        </h1>
    </section>
    <section class="content">
        <div class="box">
            <div class="box-body">
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>STT</th>
                            <th>Tên danh mục</th>
                            <th>Ảnh</th>
                            <th>Nội dung</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr id="row_@item.IDChannel">
                                <th>@item.IDChannel</th>
                                <th><a href="/Admin/Channel/Edit/@item.IDChannel">@item.Name</a></th>
                                <th><img src=@item.Image alt="" width="150" height="150" /></th>
                                <th>@item.Summary</th>
                                <th>
                                    <span class="fa fa-trash-o">
                                        @Ajax.ActionLink("Delete", "Delete", new { @id = item.IDChannel }, new AjaxOptions
                                           {
                                               Confirm = "Bạn có muốn xóa danh mục này không?",
                                               OnComplete = "$('#row_" + item.IDChannel + "').remove()",
                                           })
                                    </span>
                                </th>
                            </tr>
                        }
                    </tbody>
                </table>
                @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
            </div>
        </div>
    </section>
</div>

